@model BookNotesSite.Models.Book


<div class="item-details">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Isbn" class="control-label"></label>
                    <input asp-for="Isbn" class="form-control" />
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                    <label asp-for="ImageSrc" class="control-label"></label>
                    <input asp-for="ImageSrc" class="form-control" />
                    <span asp-validation-for="ImageSrc" class="text-danger"></span>
                </div>*@

                <div class="form-group">
                    <label asp-for="AffiliateLink" class="control-label"></label>
                    <input asp-for="AffiliateLink" class="form-control" />
                    <span asp-validation-for="AffiliateLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NonAffiliateLink" class="control-label"></label>
                    <input asp-for="NonAffiliateLink" class="form-control" />
                    <span asp-validation-for="NonAffiliateLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <input class="btn btn-dark remove-book" type="button" value="Cancel" />
                </div>

                @*<div id="currency" class="parchment-light">
                    <div class="row mb-1 justify-content-around">
                        <label asp-for="Money.Copper" class="control-label col-1 pt-2"></label>
                        <input asp-for="Money.Copper" class="form-control col-1" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <label asp-for="Money.Silver" class="control-label col-1 pt-2"></label>
                        <input asp-for="Money.Silver" class="form-control col-1" />
                        <span asp-validation-for="Class" class="text-danger"></span>

                        <label asp-for="Money.Electrum" class="control-label col-1 pt-2"></label>
                        <input asp-for="Money.Electrum" class="form-control col-1" />
                        <span asp-validation-for="Level" class="text-danger"></span>

                        <label asp-for="Money.Gold" class="control-label col-1 pt-2"></label>
                        <input asp-for="Money.Gold" class="form-control col-1" />
                        <span asp-validation-for="Level" class="text-danger"></span>

                        <label asp-for="Money.Platinum" class="control-label col-1 pt-2"></label>
                        <input asp-for="Money.Platinum" class="form-control col-1" />
                        <span asp-validation-for="Race" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 float-right">
                        <div class="form-group">
                            <input type="submit" value="Create Book" class="btn btn-primary" />
                        </div>
                    </div>
                </div>*@

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
